/* Our CSS file. */
.container, .content {
width: 100%;
}
.content{
    display:inline-block;
}
.section{
    width: 39%;
    display: inline-block;
}
.align-top{
    vertical-align: top;
}
.align-middle{
    vertical-align: middle;
}